.obstacle {
  position: absolute;
  background-color: transparent;
  left: calc(var(--left) * 1%);
  height: 50px;
  width: 80px;
  bottom: 9%;
}
.obstacle::after {
  content: "🪨";
  position: absolute;
  font-size: 6rem;
  bottom: -40px;
  left: -5px;
}
