.player {
  height: 6rem;
  width: 6rem;
  background-color: transparent;
  --bottom: 10;
  position: absolute;
  left: 100px;
  bottom: calc(var(--bottom) * 1%);
  rotate: y 180deg;
}

.player--jump {
  animation: rotate 500ms linear reverse;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
