.player {
  background-color: transparent;
  --bottom: 1;
  position: absolute;
  left: 100px;
  bottom: calc(var(--bottom) * 1%);
}

.player--jump {
  animation: rotate 500ms linear reverse;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
