.player {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  --bottom: 10;
  position: absolute;
  left: 10%;
  bottom: calc(var(--bottom) * 1%);
  rotate: y 180deg;
}

.player::after {
  content: "🪿";
  position: absolute;
  font-size: 6rem;
  bottom: -40px;
  left: -22px;
}

.player--jump {
  animation: rotate 500ms linear reverse;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
