* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --sky: lightskyblue;
  --bg-color: snow;
  --color: black;
  --brightness: 100%;
  --grayscale: 0;
  --contrast: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  filter: grayscale(var(--grayscale));
}

.hide {
  display: none;
}
