.score {
  position: absolute;
  margin: 0;
  text-align: center;
  min-width: 18rem;
  font-size: 1.2rem;
  right: 1rem;
  top: 1rem;
  background-color: var(--bg-color);
  border-radius: 15px;
  padding: 1rem 1rem 0.7rem;
}
